@import "tailwindcss";

@theme {
  --color-pinkGlow: #C54E9E;
  --color-aquaGlow: #48B6BC;
  --color-deepPurple: #403A89;
  --color-softGold: #BCB781;
  --color-darkBase: #272558;
  --color-backg: #2C1E4B;
  --color-contain: #2C1D4A;
}
